@import "styles";

.sign-up-container {
  margin: 80px auto 40px auto;
}

.sign-up-form {
  border: 2px solid $secondary2;
  border-radius: 1.2rem;
}

.sign-up-forget-link:hover {
  color: $primary;
}
