@import "../../../../styles/styles";

.sign-in-container {
  margin: 80px auto 40px auto;
}

.sign-in-form {
  border: 2px solid $secondary2;
  border-radius: 1.2rem;
}

.sign-in-forget-link:hover {
  color: $primary;
}

