<div class="container-fluid bg-primary-custom py-5">
  <section class="container py-lg-4">
    <div class="row ">
      <div class="col-12 mb-2">
        <h1 class="text-white fw-medium display-4">BẠN MUỐN TRỞ THÀNH MỘT DEVELOPER <br> THỰC THỤ?</h1>
      </div>
      <div class="col-12 mb-4">
        <h5 class="text-dark fs-3 fw">CHÚNG TÔI SẼ GIÚP BẠN.</h5>
      </div>
      <div class="col-12 mb-4">
        <div class="row">
          <div class="col-12 col-lg-4">
            <h6 class="text-white fs-5 text-truncate">2000 học viên đã chọn chúng tôi.</h6>
          </div>
          <div class="col-12 col-lg-4">
            <h6 class="text-white fs-5 text-truncate">Hàng chục khoá học cho bạn lựa chọn.</h6>
          </div>
          <div class="col-12 col-lg-4">
            <h6 class="text-white fs-5 text-truncate">Học mọi lúc, mọi nơi chỉ cần có internet.</h6>
          </div>
        </div>
      </div>
      <div class="col-12">
        <button
          class="d-inline-block text-capitalize text-decoration-none text-primary-custom px-4 py-3 bg-white fw-medium rounded-2 border-0"
          href="#courses" (click)="onUnauthenticated()">Các khoá học</button>
      </div>
    </div>
  </section>
</div>


