@import "styles";

.hero {
  height: 60rem;
  padding: 14.2rem 31.5rem 23.8rem 31.5rem;
  background: $primary;

  &__content {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  &__title {
    color: $white;
    @include font-heading-1;
  }

  &__subtitle {
    color: $on-surface;
    @include font-heading-5;
  }

  &__details {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__detail {
    color: white;
    @include font-heading-6;
  }

  &__buttons {
    padding: 1rem 4rem;
    background: $white;
    border-radius: 0.5rem;
    align-self: start;
  }

  &__button {
    color: $primary;
    @include font-button;
    text-transform: capitalize;
    text-decoration: none;
    cursor: pointer;
  }
}

.courses-container {
  padding: 18rem 31.5rem 18rem 31.5rem;
}
