<!--<section class="hero">-->
<!--  <div class="hero__content">-->
<!--    <h1 class="hero__title">BẠN MUỐN TRỞ THÀNH MỘT DEVELOPER <br> THỰC THỤ?</h1>-->
<!--    <h5 class="hero__subtitle">CHÚNG TÔI SẼ GIÚP BẠN.</h5>-->
<!--    <div class="hero__details">-->
<!--      <h6 class="hero__detail">2000 học viên đã chọn chúng tôi.</h6>-->
<!--      <h6 class="hero__detail">Hàng chục khoá học cho bạn lựa chọn.</h6>-->
<!--      <h6 class="hero__detail">Học mọi lúc, mọi nơi chỉ cần có internet.</h6>-->
<!--    </div>-->
<!--    <div class="hero__buttons">-->
<!--      <a class="hero__button hero__button&#45;&#45;courses" href="#courses">Các khoá học</a>-->
<!--    </div>-->
<!--  </div>-->
<!--</section>-->


<section class="courses-container">
  <ba-courses></ba-courses>
</section>
