@import "variables";

/* background custom class */
.bg-primary-custom {
  background: $primary;
}

.bg-surface-custom {
  background: $surface;
}

/* text custom classes */
.text-primary-custom {
  color: $primary;
}
