// font system
@font-face {
  font-family: "Roboto";
  src: url(/assets/fonts/Roboto-Regular.ttf);
  font-weight: 400;
}

@font-face {
  font-family: "Roboto";
  src: url(/assets/fonts/Roboto-Medium.ttf);
  font-weight: 500;
}

@font-face {
  font-family: "Roboto";
  src: url(/assets/fonts/Roboto-Bold.ttf);
  font-weight: 700;
}
