@import "styles";

.header__button--sign-in {
  color: $on-surface;
}

.header__button--sign-up {
  background-color: $on-surface;
  color: $white;
}

@media screen and (min-width: 992px) {
  .active {
    border-bottom: 3px solid $primary;
  }

  .nav-link:hover {
    border-bottom: 3px solid $primary;
    transition: 0.2s;
  }
}

@media screen and (max-width: 992px) {
  .nav-link.active {
    color: $primary;
  }

  .nav-link:hover {
    color: $primary;
    transition: 0.2s;
  }
}
