<section class="course">
  <div class="course__infos">
    <div class="course__images">
      <img class="course__image course__image--banner"
           [ngSrc]="course.photo" alt="course image" fill>
      <img class="course__image course__image--author"
           src="https://secure.gravatar.com/avatar/ff18511f1c4d78bfb9b1c210e08cb349?s=96&d=mm&r=g" alt="author avatar">
    </div>
    <div class="course__description">
      <div class="course__categories">
        @for (category of course.categories; track category.id) {
          <p class="course__category">{{ category.name }}</p>
        }
      </div>
      <p class="course__title">{{ course.title }}</p>
    </div>
    <div class="course__quantities">
      <div class="course__quantities-content">
        <div class="course__quantity course__quantity--lecture">
          <span class="material-icons-outlined">school</span>
          <p>{{ course.totalLecture }}</p>
        </div>
        <div class="course__quantity course__ quantity--student">
          <span class="material-icons-outlined">people_alt</span>
          <p>{{ course.totalStudent }}</p>
        </div>
      </div>
    </div>
  </div>
  <div class="course__prices">
    <p class="course__price course__price--original">{{ course.price.toFixed(0) | currency : 'VND' }}</p>
    <p class="course__price course__price--discount">{{ discountPrice.toFixed(0) | currency : 'VND' }}</p>
  </div>
</section>
