// font system
@font-face {
  font-family: 'Roboto-Regular';
  src: url(/assets/fonts/Roboto-Regular.ttf);
}

@font-face {
  font-family: 'Roboto-Medium';
  src: url(/assets/fonts/Roboto-Medium.ttf);
}

@font-face {
  font-family: 'Roboto-Bold';
  src: url(/assets/fonts/Roboto-Bold.ttf);
}

// color system
$primary: #F95E0A; // Main color
$secondary: #696C70; // Secondary
$secondary2: #A0A0A0;
$white: #FFFFFF;
$surface: #F7F7F7;
$line: #E9E9E9;
$critical: #DB4444;
$success: #3DAB25;
$yellow: #F0C450;
$black: #000000;

html {
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: Roboto-Regular, serif;
}

*, *::before, *::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}



